<h6>Available Color</h6>
<ul class="grid grid--center">
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Cherry Red" class="img--round color-thumb cherry-red">
		<p class="small">Cherry Red</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Cherry Red Planed" class="img--round color-thumb cherry-red-p">
		<p class="small">Cherry Red Planed</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Sahara Brown" class="img--round color-thumb sahara-brown">
		<p class="small">Sahara Brown</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Sahara Brown Planed" class="img--round color-thumb sahara-brown-p">
		<p class="small">Sahara Brown Planed</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Stone Gray" class="img--round color-thumb stone-gray">
		<p class="small">Stone Gray</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Stone Gray Planed" class="img--round color-thumb stone-gray-p">
		<p class="small">Stone Gray Planed</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Tobacco Brown " class="img--round color-thumb tobacco-brown">
		<p class="small">Tobacco Brown</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Tobacco Brown Planed" class="img--round color-thumb tobacco-brown-p">
		<p class="small">Tobacco Brown Planed</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Walnut Brown" class="img--round color-thumb walnut-brown">
		<p class="small">Walnut Brown</p>
	</li>
	<li class="thumbnail grid__item palm--one-quarter lap--one-quarter one-fifth">
		<img src="img/transparent.gif" alt="Walnut Brown Planed" class="img--round color-thumb walnut-brown-p">
		<p class="small">Walnut Brown Planed</p>
	</li>
</ul>